{% extends 'base.html.twig' %}

{% block body %}
    <h1>Statistiques des fichiers publiés</h1>
    <canvas id="fileChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ asset('Js/stats.js') }}"></script>
{% endblock %}
